<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/map.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=geometry"></script>
    <script type="text/javascript" src="/js/mapUtil.js"></script>
    <script type="text/javascript" src="/js/initMap.js"></script>
</head>
<body>
<div id="map"></div>
</body>
</html>